body,html{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  
  background: url(back6.jpg) repeat-x;

   background-size:cover;
   -webkit-animation: animatebackground 60s linear infinite;
    animation: animatebackground 60s linear infinite;
-ms-animation: animatebackground 60s linear infinite;
-moz-animation: animatebackground 60s linear infinite;
}

@keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}
@-webkit-keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}
@-ms-keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}
@-moz-keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}



#im{
  position:relative;
  /*置中*/
  margin:0 auto;
  width:100%;
  /* limit_the_width */
  max-width:600px;

  height:85%;
  top:30px;
  border-radius: 10px;

  box-sizing:border-box;
  background:rgba(255, 255, 255, 0.2);
}
/*under im*//*強制置底*/
#input{
  position:absolute;
  z-index:2;
  height:90px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;


  width:100%;
  left:0;
  bottom:0;
  margin:0;
  padding:15px;
  box-sizing:border-box;
  background:rgba(0, 0, 0, 0.5);
  color:#fff;
}

#input input, #input span{
  display:inline-block;
  margin:5px 0;
}

#input input{
  width:75%;
  border:none;
  padding:5px;
}

#input span{
  width:10%;
  min-width:50px;
}

#input div{
  position: relative;
  top:5px;
  width:80%;
  float:left;
}

#input button{
  float:right;
  height:90%;
  width:20%;
  margin:5px 0;
  border:none;
  padding:0;
  background:#369;
  font-size:16px;
  color:#fff;
}

#show{
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:calc(100% - 90px);
  overflow-y:scroll;
  padding:20px;
  box-sizing:border-box;
}

#show>div{
  position:relative;
  margin:0 0 20px 0;
  clear:both;
}

#show>div>div{
  display:inline-block;
}

#show .time{
  position:absolute;
  top:-6px;
  font-size:10px;
  color:#777;
}

#show .name{
  color:#fff;
  vertical-align:middle;
}

#show .content{
  background:rgba(255,255,255,.8);
  padding:10px;
  margin-top:15px;
  margin-left:10px;
  border-radius:5px;
  vertical-align:middle;
}


#show .time_r{

  right: 0;

  position:absolute;
  top:-2px;
  font-size:10px;
  color:#777;
}

#show .name_r{
  float: 'right';
  padding-top: '12px';
  color: #fc0;
  /* ... */
  vertical-align:middle;
}

#show .content_r{
  float: right;
  margin-right: 10px;
  /* .... */
  background:rgba(248, 211, 3, 0.808);
  padding:10px;
  margin-top:15px;
  margin-left:10px;
  border-radius:5px;
  vertical-align:middle;
}

#show::-webkit-scrollbar {
  width:5px;
}
#show::-webkit-scrollbar-track {
  background:rgba(255,255,255,.1);
  border-radius: 5px;
}
#show::-webkit-scrollbar-thumb {
  background:rgba(255,255,255,.2);
  border-radius: 2px;
}